<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activity 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/second">navigate with routerLink
      <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-button (click)="navigationToSecondPage()"> navigate with function
          <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
          
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-button>Standard button </ion-button>
</div>

<!-- Colored button-->
<ion-button color="primary"> Primary </ion-button>
<ion-button color="secondary"> secondary </ion-button>
<ion-button color="tertiary"> tertiary </ion-button>
<ion-button color="success"> success </ion-button>
<ion-button color="warning"> warning </ion-button>
<ion-button color="danger"> danger </ion-button>
<ion-button color="light"> light </ion-button>
<ion-button color="medium"> medium </ion-button>
<ion-button color="dark"> dark </ion-button>

<div>
  <ion-button shape="round" > Round Button </ion-button>
</div>
<div>
  <ion-button expand="block" > Block Button </ion-button>
</div>

<!-- Icons-->
<ion-button>
<ion-icon slot="start" name="star" ></ion-icon>
Left Icon
</ion-button>
<!--Size-->
<div>
<ion-button size="large"> Large </ion-button>
<ion-button> Default </ion-button>
<ion-button size="small"> Small </ion-button>
</div>